<h1>Write comment for {{name}}</h1>

<form action="/recipes/{{_id}}/comment" method="post">
    <input type="text" name="comment" placeholder="Write your comment" required>


    <button type="submit">Send Comment</button>
</form>