  <h2>Create my Magic Recipe</h2>
 
  <form action="/recipes/create" method="post">
    <input type="text" name="name" placeholder="Title" required/>
    <input type="text" name="howtocook" placeholder="How to cook" required/>
    <input type="text" name="imageUrl" placeholder="Image URL">
    <button type="submit">Create Magic Recipe</button>
  </form>